.cart-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imgCartArt{
    border-radius: 20%;
    height: 12rem;
    width: 12rem;
}
.cartCard{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: space-around;
    align-items: center;
}
.btnEliminar{
    height: 4rem;
}