.cards-container {
  margin-top: 4rem;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-around;
}

.infoCard {
  margin-left:1rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.bodyCard{
  width: 27.8125rem;
  height: 10.9375rem;
  display: flex;
  justify-items: center;
  align-content: center;
}


.imgArt {
  height: 10rem;
  width: 12rem;
  border-radius: 20%;
}
